/* Global Styling */
body {
  font-family: 'Open Sans', sans-serif; /* Font from Google Fonts */
  
}

h1{
  font-family: 'Arial', sans-serif;  /* Change this to any font you prefer */
font-size: 4rem;  /* Adjust the size of the heading */
font-weight: bold;  /* Optional: make the font bold */
color: #ff7d27;  /* Change the text color (white in this case) */
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Add text shadow for better readability */
text-align: center;

}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

button {
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


p {

  margin-top: 22px;
  color: #666;
}



/* HomePage Specific */
.home-background {
  background-image: url('1st-section.jpg'); /* Replace with your image path */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  height: 100vh; /* Full height of the viewport */
  display: flex; /* Center content horizontally and vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Home Container */
.home-container {
  text-align: center;
  padding: 40px;
  margin-top: 20px;
  
}

.home-container h1 {
  margin-top: 0px;
  font-size: 128px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0px;
}

.home-container em {
  color: #ff7d27;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}

/*Login/Register Styles */

.login-background {
  background-image: url('2nd-section.jpg'); /* Replace with your image path */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  height: 100vh; /* Full height of the viewport */
  display: flex; /* Center content horizontally and vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Home Container */
.login-container {
  text-align: center;
  padding: 40px;
  margin-top: 20px;
  
}

.login-container h1 {
  margin-top: 0px;
  font-size: 55px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.login-container p {
  color: #ff7d27;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}

.text-link {
  color: inherit;  /* Inherit the color from the parent element */
  text-decoration: underline;  /* Add underline to make it look like a link */
}

.text-link:hover {
  color: #f56c3a;  /* Ensure the color does not change on hover */
  text-decoration: underline;  /* Ensure underline remains on hover */
}
/* Button Styles */
.button-container {
  margin-top: 20px;
}

.login-button,
.register-button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #bd4114, #ff7d27);
  border-radius: 6px;
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  font-size: large;
  font-weight: bold;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

.login-button:hover,
.register-button:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
  /* Darker shade on hover */
}

.carousel-item {
  height: 500px; /* Set the height of the carousel */
}

.carousel-item img {
  object-fit: cover; /* Ensure images cover the entire carousel */
  height: 100%; /* Make the image take up the full height of the carousel */
  width: 90%; /* Ensure the image also takes up the full width */
}

.carousel-control-prev,
.carousel-control-next {
  height: 80%; /* Match the height of the controls to the carousel */
  align-items: center; /* Vertically center the control buttons */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px; /* Set a height for the control icons */
  width: 50px; /* Set a width for the control icons */
}

/* Custom styles for carousel captions */
.carousel-caption h5 {
font-family: 'Arial', sans-serif;  /* Change this to any font you prefer */
font-size: 5rem;  /* Adjust the size of the heading */
font-weight: bold;  /* Optional: make the font bold */
color: #fff;  /* Change the text color (white in this case) */
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Add text shadow for better readability */
}

.carousel-caption p {
font-family: 'Georgia', serif;  /* Change this to your preferred font */
font-size: 1.25rem;  /* Adjust the size of the paragraph */
font-weight: normal;  /* Set the font weight */
color: #e3f707;  /* Optional: set the color of the paragraph text */
text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);  /* Optional: text shadow for contrast */
}

.service-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  background-image: url(2nd-section.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.service-content h1 {
  margin-top: 0px;
  font-size: 50px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.service-content p{
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.container{
  text-align: left;
}
.service-content .left-text h4 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

h4, .h4 {
  font-size: 18px;
}

.service-content .left-text .line-dec {
  width: 45px;
  height: 3px;
  background-color: #ff7d27;
  margin: 20px 0px 20px 0px;
}

.service-content .left-text p {
  color: #fff;
}

.service-content .left-text ul {
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.service-content .left-text ul li {
  margin: 15px 0px;
  font-weight: 600;
  color: #fff;
}

.service-content .left-text .primary-button {
  margin: 30px 0px;
}

.service-content .service-item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.service-content .service-item .line-dec {
  width: 45px;
  height: 3px;
  background-color: #ff7d27;
  margin: 20px auto 15px auto;
}

.started {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.started span {
  
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.started span:after {
  
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.started:hover span {
  background-color: #f4511e;
  padding-right: 25px;
}

.started:hover span:after {
  background-color: #f4511e;
  opacity: 1;
  right: 0;
}

.loadingerror{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */

}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  
}

.loader-container p{
  color: #E43D12;
  font-size: 15px;
  font-weight: 500;
}

.lds-roller {
  /* change color here */
  color: #E43D12
}
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.generate {
  position: relative;
  padding: 12px 35px;
  background: #fec195;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

.generate:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

.generate:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.generate:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.generate:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.generate:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.generate:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.generate:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}

.historicalbg{
  background-color: #ebe9e1;
  color: #0e0d0c;
  width: 100%; 
}

.historicalbg h1{
  font-family: 'Arial', sans-serif;  /* Change this to any font you prefer */
font-size: 5rem;  /* Adjust the size of the heading */
font-weight: bold;  /* Optional: make the font bold */
color: #E43D12;  /* Change the text color (white in this case) */
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Add text shadow for better readability */

}

.historicalbg h2{
  font-family: 'Arial', sans-serif;  /* Change this to any font you prefer */
font-size: 3.5rem;  /* Adjust the size of the heading */
font-weight: bold;  /* Optional: make the font bold */
color: #E43D12;  /* Change the text color (white in this case) */


}

/* HistoricalPlaces.css */
.data-container {
  background-color: #f6d589; /* Light background for contrast */
  padding: 20px; /* Padding around the content */
  border-radius: 8px; /* Rounded corners for a modern look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  font-size: 20px;
  width: 100%; 
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #000000; /* Dark color for text */
  margin-bottom: 40px; /* Space below the container */
  line-height: 1.6; /* Improve text readability */
  text-align: justify; /* Justify the text for a neat appearance */
}








